<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <img src="https://ts4.mm.bing.net/th?id=OIP.7BMR_CuZgDKnDbh2KKTkJQHaD4&pid=15.1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">dog</h5>
              <p class="card-text">Dogs have been bred for desired behaviors, sensory capabilities, and physical attributes. Dog breeds vary widely in shape, size, and color. They have the same ...</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="https://th.bing.com/th/id/OIP.as41xJMGqJpD9JND8h6HIwHaFj?w=242&h=182&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Cat</h5>
              <p class="card-text">The cat (Felis catus), also referred to as the domestic cat, is a small domesticated carnivorous mammal. It is the only domesticated species of the family ...</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card-group">
            <div class="card">
              <img src="https://th.bing.com/th/id/OIP.3r_gPAg5Qe4nmx0PdoaXiQHaE8?w=294&h=196&c=7&r=0&o=5&dpr=1.3&pid=1.7" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">wolf</h5>
                <p class="card-text">The wolf is mainly a carnivore and feeds on large wild hooved mammals as well as smaller animals, livestock, carrion, and garbage. Single wolves or mated pairs ...</p>
                <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
      </div>
    </div>
  </div>



  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <img src="https://th.bing.com/th/id/R.48cf67cfb10c849dc8797c17c4af703c?rik=e%2boe%2fBMNdR6cmA&riu=http%3a%2f%2fupload.wikimedia.org%2fwikipedia%2fcommons%2fc%2fc8%2fBengal_Tiger.jpg&ehk=vIS5y3IDcAG9IzCF%2fEr7THj0eopN0uikwV0e5iBGWEo%3d&risl=&pid=ImgRaw&r=0" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">tiger</h5>
              <p class="card-text">The tiger (Panthera tigris) is a large cat and a member of the genus Panthera native to Asia. It has a powerful, muscular body with a large head and paws, ...</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="https://cdn.wallpapersafari.com/83/59/5VY2WC.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">lion</h5>
              <p class="card-text">A deer or true deer is a hoofed ruminant ungulate of the family Cervidae. Cervidae is divided into subfamilies Cervinae and Capreolinae. Male deer of almost all species, as well as female reindeer, grow and shed new antlers each year</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card-group">
            <div class="card">
                <img src="https://images6.alphacoders.com/327/327067.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">deer</h5>
                  <p class="card-text">A deer or true deer is a hoofed ruminant ungulate of the family Cervidae. Cervidae is divided into subfamilies Cervinae and Capreolinae. Male deer of almost all species, as well as female reindeer, grow and shed new antlers each year.</p>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
            </div>
      </div>
    </div>
  </div>



  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card">
            <img src="https://th.bing.com/th/id/OIP.66aDhESvpnpuA_kxCMEgVgHaE7?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">bear</h5>
              <p class="card-text">bears are carnivoran mammals of the family urside</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card">
            <img src="https://ts4.mm.bing.net/th?id=OIP.tkBtBhunIoSizS849K_n3wHaFf&pid=15.1" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">elephant</h5>
              <p class="card-text">elephants are largest living land animals</p>
              <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card-group">
            <div class="card">
                <img src="https://images.takeshape.io/86ce9525-f5f2-4e97-81ba-54e8ce933da7/dev/2710650f-cd0f-4e10-95d9-f1fb7af85f92/Lonely%20beautiful%20hartmann's%20mountain%20zebra%20stands%20in%20its%20natural%20habitat.%20Wildlife%20shutterstock_1789778813%20(1).jpg?auto=compress%2Cformat&w=1200" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">zebra</h5>
                <p class="card-text">Zebras (subgenus Hippotigris) are African equines with distinctive black-and-white striped coats. There are three living species: Grévy's zebra.</p>
                <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
              </div>
            </div>
      </div>
    </div>
  </div>

  




  <div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="card"  style="width:5cm">
            <img src="https://th.bing.com/th/id/OIP.N6MmUWerrQCE5B4jWpDqRgHaFa?rs=1&pid=ImgDetMain" class="card-img-top" alt="...">
            <div class="card-body" >
              <h5 class="card-title">horse</h5>
              <p class="card-text">The horse is a domesticated, one-toed, hoofed mammal.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
    </div>
  </div>



 


  
  

 
  

 
  
